<div class="section">
    <div class="title">
<h1 >About Me</h1>
    </div>
    <div class="about">
        <div class="card">
        
              
            <h2>Certifications</h2>
            <ul>
                <li> Introduction to Cybersecurity - Cisco</li>
                <li> Introduction to Data Science -Cisco </li>
                <li> Networking Basics - Cisco </li>
                <li> Networking devices and initial configuration - Cisco</li>
            </ul>
        </div>
        <div class="card">
          
            <h2>Education</h2>
            <ul>
                <li>NQF4 in Information Technology </li>
            <li>Matric</li>
            </ul>
        </div>

        <div class="card">
           
            <h2>Skills</h2>
            <ul>
                <li> HTML</li>
                <li> JavaScript </li>
                <li> Cybersecurity </li>
                <li> Flexibility, adaptability and transferring skill</li>
            </ul>
        </div>


    </div>
    
</div>


