<section class="projects section" id="projects">

    <h2 class="section-title">Portfolio</h2>
    <span class="section-subtitle">My projects</span>

    <div class="projects-container container"></div>

<div class="projects-content grid">
    <img src="../../assets/hairsalon one.webp" alt="image" class="projects-img">
    
   

<div class="projects-data">

    <h3 class="projects-title">Salon Application</h3>

    <p class="projects-description">A salon business application based on Object-oriented programming</p>

    
</div>
</div>

<div class="projects-content grid">
    <img src="../../assets/hairsalon two..jpeg" alt="image" class="projects-img">
    <img src="../../assets/hairsalon 2.jpg" alt="image" class="projects-img">

<div class="projects-data">

    <h3 class="projects-title">Salon Website</h3>

    <p class="projects-description">A salon business website which offers  certain services and products to increase customer engagement and advertise to other potential customers.</p>

</div>
</div>
        

    
</section>
