*{
    font-family: sans-serif;
}

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    max-height: fit-content;

}
.section-container{
    display: flex;
}

.section-text{
align-self:center;
text-align: center;

}

.section-text-p{
    font-weight: 600;
}

.section-text-p1{
    text-align: center;

}
.section-text-p1{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.title{
    font-size: 3rem;
    text-align: center;
}
.section-text-p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
  #profile{display: flex;
justify-content: center;
gap: 5rem;
height: 80vh;
}
.pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}
.pic-container img{
height: 300px;
width: 300px;
border-radius: 50%;
border: 10px solid;

}

.socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap:1rem
}
.icon{
    cursor: pointer;
    height: 2rem;
    
}
