<section id="profile">
    <div class="pic-container">
      <img src="../../assets/profile image.jpg" alt="Nobukhosi Nxumalo">
   </div>  
   <div class="section-text">
      <p class="section-text-p1">Good day, I am</p>
  <h1 class="title">Nobukhosi Nxumalo</h1>
  <p class="section-text-p2"> I hold a certificate in Information Technology and Computer Sciences from Ekurhuleni West College.I am eager to enhance and refine my personal development within the Information Technology and Computer Sciences space and take challenges that lie ahead.</p>
  
<div id="socials-container">
  <img src="../../assets/github img.png" alt="My Github profile" class="icon" onclick="location.href='https://github.com/Nobukhosi27'">
  <img src="../../assets/facebook-logo.jpg" alt="My Facebook profile" class="icon" onclick="location.href='https://www.facebook.com/nobukhosi.nxumalo.98'">
  <img src="../../assets/linkedin img.png" alt="My Linkedin profile" class="icon" onclick="location.href='https://www.linkedin.com/in/nobukhosi-nxumalo-51669a185'">
</div>
</div>
      
   
   
  </section>
  
  
